.todo-list {
  display: flex;
  min-height: 560px;
  @media screen and (max-width:1000px) {
    display: block;
  }
  .new-task {
    padding: 20px 30px;
    width: 40%;
    @media screen and (max-width:1000px) {
      width: 100%;
    }
    border-right: 1px solid #000000;
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  .list {
    width: 60%;
    @media screen and (max-width:1000px) {
      width: 100%;
    }
    border-left: 1px solid #000000;
    .todo-list-detail {
      padding: 20px 10px;
    }
    h3 {
      text-align: center;
      margin-bottom: 50px;
    }
    .items {
      overflow: auto;
      height: 300px;
      margin-top: 20px;
      border: 1px solid #000000;
      .no-data {
        color: red;
        text-align: center;
        margin-top: 50px;
      }
      .item {
        background: #ffffff;
        border-radius: 0px;
        .parent:not(:first-child) {
          border-top: 1px solid black;
        }
        .parent {
          display: flex;
          justify-content: space-between;
          padding: 16px 15px;
          .right {
            display: flex;
            input {
              margin-top: 8px;
              margin-right: 12px;
              cursor: pointer;
            }
            p {
              font-size: 16px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              max-width: 530px;
              margin-top: 4px;
            }
          }
          .left {
            display: flex;
            button:first-child {
              height: 27px;
              color: #ffffff;
              font-family: Arimo;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              text-decoration: none;
              text-align: center;
              background: #00bcd4;
              border: none;
              border-radius: 8px;
              width: 93px;
              &:hover {
                background-color: #042e33 !important;
              }
            }
            button:last-child {
              width: 79px;
              height: 28px;
              color: #ffffff;
              font-family: Arimo;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              text-decoration: none;
              text-align: center;
              background: #d9534f;
              border: none;
              border-radius: 8px;
              margin-left: 10px;
              &:hover {
                background-color: #963430 !important;
              }
            }
          }
        }
        .child {
          transition: 0.5s;
          overflow: hidden;
          padding: 0;
          height: 0;
          background: #ffffff;
          border-radius: 0px;
          .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
          }
        }
        .child:last-child {
          border-bottom: none;
        }
        .child.show {
          border-top: 1px solid #000000;
          height: 388px;
          padding: 20px;
        }
      }
      .item:not(:last-child) {
        border-bottom: 1px solid black;
      }
      .item:not(:first-child) {
        border-bottom: 1px solid black;
      }
    }
    .items::-webkit-scrollbar {
      width: 3px;
    }

    .items.thin::-webkit-scrollbar {
      width: 2px;
    }

    .items::-webkit-scrollbar-track {
      border-radius: 3px;
      background: #cec0c0;
    }

    .items::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #574e4e;
    }

    .bulk-action {
      height: 82px;
      background: #e0e0e0;
      border-top: 1px solid #000000;
      border-radius: 0px;
      overflow: auto;
      margin-right: 7px;
      .item {
        display: flex;
        justify-content: space-between;
        padding: 26px 15px;
        .right {
          display: flex;
          input {
            margin-top: 8px;
            margin-right: 12px;
          }
          p {
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 530px;
            margin-top: 4px;
          }
        }
        .left {
          display: flex;
          button:first-child {
            height: 27px;
            color: #ffffff;
            font-family: Arimo;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            text-align: center;
            background: #00bcd4;
            border: none;
            border-radius: 8px;
            width: 93px;
            &:hover {
              background-color: #042e33 !important;
            }
          }
          button:last-child {
            width: 79px;
            height: 28px;
            color: #ffffff;
            font-family: Arimo;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
            text-align: center;
            background: #d9534f;
            border: none;
            border-radius: 8px;
            margin-left: 10px;
            &:hover {
              background-color: #963430 !important;
            }
          }
        }
      }
    }
    .bulk-action::-webkit-scrollbar {
      width: 3px;
    }

    .bulk-action.thin::-webkit-scrollbar {
      width: 2px;
    }

    .bulk-action::-webkit-scrollbar-track {
      border-radius: 3px;
      background: #cec0c0;
    }

    .bulk-action::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: #080505;
    }
  }
}
