* {
  font-family: "Source Sans Pro";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-app {
  margin-top: 100px;
  background: #ffffff;
  border: 1px solid #000000;
}

button {
  cursor: pointer;
}

.text-error {
  color: red;
}

.error {
  input {
    border-color: red !important;
  }
  label {
    color: red !important;
  }
  textarea {
    border-color: red !important;
  }
}
